.aboutSection{
    background: var(--mainGrey);
    padding-bottom: 3rem;

}
.aboutCenter {
    width: 80vw;
    margin: 0 auto;
  }
  .aboutImgWrapper {
    margin: 3rem 0;
  }
  .aboutInfo {
    margin-top: 3rem;
  }
 
  
  /* .aboutImgWrapper img {
    width: 100%;
    display: block;
    box-shadow: var(--lightShadow);
  }
  .aboutImgWrapper div {
    box-shadow: var(--lightShadow);
  } */
 
  @media screen and (min-width: 769px) {
    .aboutCenter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      align-items: center;
      margin-top: 3rem;
      
    }
  
    /* .aboutImgWrapper,
    .aboutInfo {
      margin: 0;
    } */
    .about-img img {
      max-height: 500px;
    }
    .imgContainer {
      max-height: 500px;
    }
    .aboutInfo p {
      width: 80%;
    }
  }
  @media screen and (min-width: 992px) {
    .imgContainer::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      /* border: 3px solid var(--primaryColor); */
      box-sizing: border-box;
      top: -16px;
      left: -16px;
      z-index: -1;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .aboutCenter {
      width: 95vw;
      max-width: 1170px;
    }
  }
  