
.navbar{
  background-color:var(--mainWhite);
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: rgb(255, 123, 0);
  font-size: 1.5rem;
}
.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}
.show-nav {
  height: 100%;
}
.nav-links a {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(83, 83, 83);
  transition: var(--mainTransition);
  font-weight: bolder;
  letter-spacing: var(--mainSpacing);
  border-bottom: 0.5px solid var(--mainBlack);
}
.nav-links a:hover {
  color: rgb(255, 123, 0);
}
.nav-social-links {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color:var(--mainWhite);
}
.dropbtn{
  display:none;
}

@media screen and (min-width: 768px) {
  .logo-icon {
    font-size: 2rem;
  }

}


@media screen and (min-width: 1089px) {
  .navbar{
    background-color:var(--mainWhite);
    /* height: 80px; */
    display:flex;
    align-items: center;
  }
  .nav-header {
    display: none;
  }
  .dropbtn{
    display:block;
  }
  .logo-btn {
    display: none;
  }
  .navbar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-weight: bold;
    color: var(--primaryColor);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
    border: none;
    outline: none;
    color: rgb(83, 83, 83);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: rgb(83, 83, 83);
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content li{
    display: block;
    border-bottom: 1px solid rgb(83, 83, 83);
    background-color: var(--mainWhite);
  }
  .dropdown-content li:last-child{
    display: block;
    border-bottom: none;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: rgb(255, 123, 0);
  }
  .dropdown-content a:hover {
    color: rgb(255, 123, 0);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: rgb(83, 83, 83);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: rgb(255, 123, 0);
    transform: translateY(-5px);
  }
  .nav-links a {
    padding: 1rem 1.25rem;
    border-bottom: none;
    font-weight: bolder;
  }
}