.whyUsWrapper{
/* border: 1px solid red; */
display:flex;
flex-direction: column;
background: var(--mainWhite);
padding: 3rem 0;
}
.titleWrapper{
    /* border: 1px solid green; */
    display:flex;
    justify-content: center;
}
.services {
    padding: 1rem 0;
  }
  .center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 2rem;
    /* border: 1px solid green; */
  }
  .services {
    margin: 0.5rem 0;
    text-align: center;
  }
  .services span {
    color: rgb(255, 123, 0);
    padding: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .services h4 {
    text-transform: uppercase;
  }
  